.feed-content {
  
  

  .zero-following {
    padding-inline: 200px;
    padding-block: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--clr-header-input-bckg);
    text-align: center;

    .zero-following-header {
      font-size: var(--fs-heading);
      color: black;
      span {
        font-weight: 700;
      }
      margin-bottom: 1rem;
    }
    p {
      font-size: var(--fs-normal);
    }
  }

  .non-zero-following {
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100%;
    .heading{
      font-size: var(--fs-heading);
    }

    

    .posts-wrapper{
      margin-top: 2%;
      font-size:  var(--fs-small);
      max-width: 600px;
      a{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .feed-content {
    
    

    padding: 20px;
    .zero-following {
      padding: 20px;
      text-align: center;
      color: var(--clr-header-input-bckg);
      .zero-following-header {
        font-size: var(--fs-heading);
        color: black;
        span {
          font-weight: 700;
        }
        margin-bottom: 10px;
      }
      p {
        font-size: var(--fs-normal);
      }
    }

    .non-zero-following{
      >p{
        font-size: var(--fs-large);
      }
    }
  }
}
