nav {
  padding-inline: 100px;
  padding-block: 20px;

  display: flex;
  justify-content: space-between;

  background-color: var(--clr-header-bckg);

  gap: 1rem;
  width: 100vw;
  margin-bottom: 20px;
}
nav > .left-section > a {
  text-decoration: none;
  color: white;
  font-size: var(--fs-large);

  text-align: center;
}

nav > .right-section > form {
  display: flex;
  gap: 0.5rem;
}

nav >.right-section > form > input {
  background-color: var(--clr-header-input-bckg);
  border: 0;

  color: white;
  padding-inline: 10px;
  padding-block: 5px;
  caret-color: white;

  border-radius: var(--border-radius);
}

nav >.right-section button {
  background-color: var(--clr-primary);
  border: 0;

  padding-inline: 10px;
  padding-block: 5px;
  border-radius: var(--border-radius);

  color: white;

  max-width: fit-content;
}

nav > .right-section button:hover {
  cursor: pointer;
  filter: brightness(150%);
  color: black;
}

nav > .right-section > .button-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  .clr-success {
    background-color: var(--clr-success);
  }

  .clr-signout {
    background-color: var(--clr-signout);
  }
  svg {
    font-size: var(--fs-large);
  }
  svg :hover {
    cursor: pointer;
  }

  .pfp{
      height: var(--fs-heading);
      border-radius: 50%;
  }

  .pfp:hover{
    
    cursor: pointer;
    border: 2px solid white;
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav > .right-section > form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 100%;
  }

  nav > .right-section > form > input {
    width: 100%;
  }

  nav > .right-section {
    .button-wrapper {
      display: flex;
      justify-content: center;

      gap: 0.5rem;
    }
  }
}
