.mini-profile{
    display: block;
}

.mini-profile > a{
    width: 100%;
    margin-bottom: 1rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 1rem;

    
    padding: 10px;
    border-radius: var(--border-radius);
    >.pfp{
        height: var(--fs-heading);
        border-radius: 50%;
    }
}

.mini-profile>a:hover{
    background-color: var(--clr-feed-zero-following);
    color: whitesmoke;
    cursor: pointer;
     >.pfp{
        border: 1px solid white;
     }
}