.search-wrapper{
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: var(--clr-footer-border);
    font-size: var(--fs-heading);
    display: flex;
    justify-content: center;
    opacity: .9;
    padding-top: 50px;
    >.search-box{
        background-color: white;
        padding-inline: 25px;
       
        display: flex;
        height: var(--fs-heading);
        align-items: center;

        border-radius: var(--border-radius);
        height: 100px;
        >svg{
            
            transition: 0.2s;
        }
        >.x:hover{
            cursor: pointer;
            color: red;
            transform: scale(1.2);
        }

        >.magnifying-glass:hover{
            transform: scale(1.2);
            color: var(--clr-success);
        }
        
        >input{
            padding-inline: 50px ;
            width: 100%;
            border: 0;
        }

        >input:focus{
            outline: none;
        }
    }
}